<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <!-- Appenders are the "destination" where we log stuff to -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- How should we print the log? -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <!-- Loggers are multiple loggers configurations for packages -->
    <Loggers>
        <logger name="org.apache.http.wire" level="INFO" />
        <logger name="org.apache.http.client" level="INFO" />

        <!-- There is a ROOT logger, which applies to all packages -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>