body {
    width: 84%;
    /*font-family: "Times New Roman", Times, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: "Roboto", serif;*/
    text-align: left;
    margin: auto auto auto auto;
}

h1 {
    text-align: center;
}

.header {
    width: 100%;
    margin: 0;
    color: black;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background: white;
    font-weight: bold;
    font-size: 20px;
}

.footer {
    /*height: 70px;*/
    width: 100%;
    padding: auto;
    margin: 0;
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    background: white;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

}

.header-buttons {
    font-size: 16px;
}

/* Add a hover effect for buttons */
.header-buttons:hover {
    background-color: lightskyblue;
    font-weight: bold;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 0;
}

li {
    width: 100%;
}

ul li a {
    display: block;
    text-align: center;
    padding: 14px 14px 14px 14px;
    text-decoration: none;
    color: inherit;
}

li a:hover {
    /*color: #4362ff;*/
}

.make-bold {
    font-weight: bold;
}

.rsm-bkgrnd {
    padding: 2%;
    /*padding: 1.6% 4% 1.6% 4%;*/
    background-color: #f5f5f5;
    border: solid lightgray 1px;
    border-radius: 8px;
}

.rsm-summary {
    font-size: 20px;
    padding-left: 20px;
}

.responsibilities {
    padding-left: .5%;
}

.form-row {
    padding: 6px;
}

.submit {
    background-color: #31d331;
    color: white;
    font-weight: bold;
}

.reset {
    background: #f33422;
    color: white;
    font-weight: bold;
}

.download {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}

.edit-icon {
    border: none;
    background-color: white;
}

.edit-icon:hover {
    color: #1e88e5;
}
